{% extends 'core/base.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block content %}
{% include 'pages/includes/pages_menu.html' %}
<main role="main">
  <div class="container mb-4">
    {% for page in page_list|dictsort:"id" reversed %}
      <div class="row mt-3">
        <div class="col-md-9 mx-auto">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title mb-4">{{page.title}}</h2>
              <div>
                <p class="card-text">{{page.content|striptags|safe|truncatechars:"200"}}</p>
                <p><a class="btn btn-info btn-sm" href="{% url 'pages:page' page.id page.title|slugify %}">Leer más</a>
                  {% if request.user.is_staff %}
                    <a class="btn btn-primary btn-sm" href="{% url 'pages:update' page.id %}">Editar</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'pages:delete' page.id %}">Borrar</a>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
